.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode
.codex
*~
playground
tmp
dist
dist-node
ts-dist
.turbo
.typecheck-profiles
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/ocpp.json
a.out
target
.scripts
.cache
.data
.direnv/

# Local dev files
ocpp-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo
